header {
    .box-actual-time {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 10px;

        .actual-time {
            color: $colorQuaternary;
        }
    }
}
