.box-intro {
    justify-content: flex-start;
    padding-bottom: 20px;

    .intro {
        padding-top: 20px;
        text-align: center;
    }

    span {
        font-weight: bold;
        padding-top: 5px;
    }
}
